#title_head{
    color: red;
	border-left: 5px solid red;
    padding-left: 5px;
    /* position: sticky; */
    /* top: 50px; */
}

.body1{
    column-count: 3;
    /* column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: none; */
}

.body2{
    column-count: 3;
    /* column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: none; */
}


#img{
    height: 200px;
    width: 400px;
}