/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e8f0;
  padding: 10px;
  border-radius: 5px;
}

.task-name {
  flex-grow: 1;
  text-align: left;
  margin-right: 10px;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#task_name{
  
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}